* {
    font-family: Arial, Helvetica, sans-serif;
}

p, ol, ul, li, blockquote {
    font-size: 13pt !important;
    line-height: 1.6 !important;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, blockquote {
    margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
    clear-after: both;
}

hr {
    background-color: #eee;
    border: none;
    height: 5px;
    padding: 0;
    margin: 20px 0;
    display: block;
    clear: both;
}
